@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* 
    DISEÑO DE LA PAGINA PRINCIPAL
*/

.container-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
}

.welcome-user {
    margin-left: 5%;
    margin-top: 20px;
}

.header-container, .values-container, .detail-footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 5%;
}

.balance, .recent-record, .earnings, .expense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #383838;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
}

.detail-records {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    background: #383838;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.balance p, .recent-record p {
    color: #BAFF39;
}

.record, .record-detail {
    width: 100%;
    border-collapse: collapse;
}

    .record th, .record td, .record-detail th, .record-detail td {
        padding: 10px;
        text-align: left;
    }

        .record th:nth-child(2), .record td:nth-child(2) {
            text-align: right;
        }

.btn-earnings, .btn-expense {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #BAFF39;
    border-radius: 20px;
    font-size: 2rem;
    color: #383838;
    margin: 10px 0;
    cursor: pointer;
}

    .btn-earnings:hover, .btn-expense:hover {
        background: #aaff00;
    }

.record-detail th, .record-detail td {
    /* text-align: left; */
    padding: 10px;
}

    .record-detail th:nth-child(1),
    .record-detail td:nth-child(1) {
        text-align: center;
    }

    .record-detail th:nth-child(2),
    .record-detail td:nth-child(2) {
        text-align: center;
    }

    .record-detail th:nth-child(3),
    .record-detail td:nth-child(3) {
        text-align: center;
    }



/* Media Queries para móviles */
@media (max-width: 768px) {
    .header-container, .values-container {
        flex-direction: column;
        align-items: center;
    }

    .balance, .recent-record, .earnings, .expense {
        width: 90%;
    }

    .btn-earnings, .btn-expense {
        height: 60px;
        font-size: 1.5rem;
    }
}