@{
    ViewData["Title"] = "Cuentas Claras";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>

    <div class="login-container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form asp-action="Login" method="post">
                <div class="input-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Ingresar</button>
            </form>
            <p class="register-link">¿No tienes una cuenta? <a href="@Url.Action("Register", "Home")">Regístrate</a></p>
        </div>
    </div>

</body>