@{
    ViewData["Title"] = "Cuentas Claras";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>

    <div class="login-container">
        <div class="register-box">
            <h2>Registrarse</h2>
            <form asp-action="Register" method="post">
                <div class="input-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="Password">Contraseña</label>
                    <input type="password" id="password" name="Password" required>
                </div>
                <button type="submit">Registrarse</button>
            </form>
            <p class="register-link">¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Home")">Iniciar Sesión</a></p>
        </div>
    </div>

</body>

