@{
    ViewData["Title"] = "Cuentas Claras";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/principal-page.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

    <h2 style="margin-left: 10%;">Bienvenido, @User.Identity.Name</h2>

</body>