<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/principal-page.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cuentas_Claras_Client.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#" class="logo-aside">
                    <img src="~/Images/LogoCC.png" alt="Cuentas Claras" />
                    <span class="aside-item">Cuentas Claras</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                    <span class="aside-item">Inicio</span>
                </a>
            </li>

            @* <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span class="aside-item">Perfil</span>
                </a>
            </li> *@

            <li>
                <a href="#">
                    <i class="fas fa-wallet"></i>
                    <span class="aside-item">Billetera</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-chart-bar"></i>
                    <span class="aside-item">Analítica</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-bullseye"></i>
                    <span class="aside-item">Metas</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span class="aside-item">Configuración</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-question-circle"></i>
                    <span class="aside-item">Ayuda</span>
                </a>
            </li>

            <li>
                <a href="#" class="profile">
                    <i class="fas fa-user"></i>
                    <span class="aside-item">Perfil</span>
                </a>

                <a asp-controller="Home" asp-action="Logout" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="aside-item">Cerrar Sesión</span>
                </a>
            </li>
        </ul>

    </nav>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Cuentas_Claras_Client - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
